vim/.netrwhist
vim/.VimballRecord
vim/swap/
vim/bundle/
vim/plugged/
vim/autoload/
vim/local.vim
.DS_Store
__pycache__/
*.py[cod]
*.log
**/logs/*
weechat/script/plugins.xml.gz
config/asciinema/
config/fish/fishd.*
config/configstore/
config/gcloud/
config/hub
config/ranger/
config/yarn/
dump.rdb
mutt/temp/
mutt/cache/
vim/spell/
config/karabiner/assets/
mbsyncrc
msmtprc
config/gh
